/*  CSS stylesheet for: 'https://github.com/Mervodactyl/bits_and_bobs/scss.git'
*   <style type="text/css">
*
*   Standard size
=============================================================================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper:after,
.row:after {
      content: "";
      display: table;
      clear: both;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

span {
  display: block;
  background-color: #F5A9F2;
  padding: 1em 0;
  text-align: center;
}

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em;
  }

  .column-1 {
    width: 7.142857%;
  }

  .column-2 {
    width: 14.285714%;
  }

  .column-3 {
    width: 21.428571%;
  }

  .column-4 {
    width: 28.571428%;
  }

  .column-5 {
    width: 35.714285%;
  }

  .column-6 {
    width: 42.857142%;
  }

  .column-7 {
    width: 49.999999%;
  }

  .column-8 {
    width: 57.142856%;
  }

  .column-9 {
    width: 64.285713%;
  }

  .column-10 {
    width: 71.42857%;
  }

  .column-11 {
    width: 78.571427%;
  }

  .column-12 {
    width: 85.714284%;
  }

  .column-13 {
    width: 92.857141%;
  }

  .column-14 {
    width: 100%;
  }
}
